.body 
{
    background-color: orangered;
}

.rtl {
    direction: rtl;
    text-align: right;
}

    .rtl .sidebar {
        right: 0;
        left: auto;
    }

    .rtl .main-menu li {
        text-align: right;
        padding-right: 15px;
    }
